
:root {
--primary: #474747;
--secondary: #EBEBEB;
--color :#080708; 


}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    
}


.body {
   background: var(--secondary); 
   
}

.header {
    background: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    width: 100%;
    height: 90px;

}

.navbar, 
.navbar-list {
display: flex;
align-items: center;
justify-content: center;

}

.navbar-list {
    gap: 40px;
}

.navbar-list a {
    color: var(--color);
    font-size: 17px;
}

.logo {
    height: 90px;
    border-radius: 50px;
    cursor: pointer;
}

.main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#hero {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idea {
    color: #474747;
    cursor: pointer;
}



.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 100px;
    
}

.hero-info {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    
    
}

.hero-info h1 {
    font-size: 25px;
    display: flex;
}


    






    
    
    
